@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Roboto;
    font-weight: 600;

}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;

}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.8s ease;

}


.sidebar.active{
    width: 240px;
}


.sidebar .logoContent .logo {
    color:#fff;
    display: flex;
    height:50px;
    width:100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
   transition:all 0.8s ease-in-out;
}





.sidebar.active .logoContent .logo {
opacity: 1;
pointer-events: none;
}
/* for if logo is an image but we went with icon instead
.sidebar .logoContent .logo img{
  height: 45px;
    width: 45px;
    object-fit: cover;
    padding-right: 10px;
    padding-bottom: 5px;
}
*/


.sidebar .logoContent i{
    font-size: 28px;
    margin-right: 5px;

}

.sidebar .logoContent .logoName{
    font-size: 20px;
    font-weight: 400;

}

.sidebar #menuBtn{
    position: absolute;
    color:#fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}



.sidebar.active #menuBtn{
    left : 90%;
}

.sidebar ul{
    margin-top:20px;
}

.sidebar ul li{
    width: 100%;
    height:50px ;
    position: relative;
    margin: 0 5px;
    list-style:none ;
    line-height:50px;

}


.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    left:62px;
    top: 0%;
    transform: translateY(-50%);
    border-radius: 5px;
    line-height: 35px;
    width: 122px;
    text-align: center;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:0s;
    opacity: 0;
    pointer-events:none;
    display: block;
    z-index: 1000;

}


.sidebar.active ul li .tooltip{
    display:none;
}

.sidebar ul li:hover .tooltip{
    transition:all 0.5s ease;
     opacity: 1;
     top: 50%;
     z-index: 1000;
}
.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left:50px ;
    font-size:18px;
    color:white;

}

.sidebar ul li .fa-search{
    position: absolute;
    z-index: 999;
    color:white;
    font-size:22px;
    transition: all 0.8s ease;
}

.sidebar ul li .fa-search:hover{
    background:white;
    color: #1d1b31;
}


.sidebar ul li a{
    color:#fff;
    display:flex;
    align-items:center;
    text-decoration:none;
    transition: all 0.5s ease;
    border-radius: 15px;
    white-space: nowrap;

}

.sidebar ul li a:hover{
    color:#11101d;
    background:white;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}


.sidebar.active .linksName{
opacity: 1;
pointer-events:none;
}

.sidebar .linksName{
opacity: 0;
pointer-events:none;
   transition:all 0.8s ease-in-out;
}

.sidebar .profileContent{
    position: absolute;
    color :white;
    bottom: 0;
    left: 0;
     width: 100%;
}

.sidebar .profileContent .profile{
    position: relative;
    padding: 10px 13px;
    height: 100px;
    background: #1d1b31;
   
}

.sidebar .profileContent .profile .profileDetails{
    display: flex;
    align-items: center;
    pointer-events: none;
    white-space: nowrap;
}



.profile .profileDetails img{
    height: 55px;
    width: 55px;
    object-fit: cover;
    border-radius:12px;

}


.sidebar .profileContent .profile .profileDetails .nameJob{
    margin-left:10px ;
}


.sidebar .profileContent .profile .profileDetails .welcome{
    font-size: 18px;
    font-weight: 400;
}

.sidebar .profileContent .profile .profileDetails .name{
    font-size: 18px;
    font-weight: 400;
}


.sidebar .profileContent .profile .profileDetails .job{
    padding-top: 15px;
    font-size: 13px;
    font-weight: 400;
}

.home{
    background:rgb(248,248,248);
    width: calc(100% - 78px);
    position: absolute;
    height:100%;
    left: 78px;
    transition:all 0.8s ease;
}


.home .textNormal{
    font-size: 24px;
    font-weight: 700;
    color: #1d1b31;
    margin-top: 12px;
    margin-left: 12px;

}

.sidebar.active ~ .home{
        width: calc(100% - 240px);
        left:240px;
}

.home .container{
    height:100vh;
    margin-top: 12px;
    margin-left: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 100px;
    gap: 10px;
    padding:10px;

}

.home .container div{
    padding: 5px;
  /*  border: 1px solid black;*/
}

.header {
    grid-column-start: 1;
    grid-column-end:4;
    background: black;
}

.footer{
grid-column-start: 1;
grid-column-end:4;

}



/*Image grid*/


.image-grid {
    grid-column-start: 1;
    grid-column-end:4;
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}
